@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');

/* GLOBAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}
:root{
    /* header */
    --header_height: 65px;
    --logo_height: 1.75rem;
    --header_icon_height: 20px;
    /* burger */
    --burger_size: var(--header_icon_height);
    --burger_line_width: 3px;
    --burger_line_spacing: calc(var(--burger_size)/2 - var(--burger_line_width) * 1.5);
    /* nav */
    --nav_spacing: 10px;
    --nav_padding: 10px 30px 15px 15px;
    /* footer */
    --footer_height: 250px;
    --footer_spacing: 10px;
    /* game binder */
    --binder_padding: 15px 10px;
    --game_spacing: 20px;
    /* login-register */
    --form_login_register_padding: 20px 10px 50px;
    --form_login_register_spacing: 10px;
    --form_login_register_width: 100%;
    --form_login_register_input_height: 2.5rem;
    /* profile */
    --profile_picture_size: 80px;
    --profile_picture_left: 10px;
    --profile_name_left: 10px;
    --profile_inner_wrapper_gap: 10px;
    --profile_inner_wrapper_padding: 10px;
    --profile_inner_wrapper_children_padding: 10px;
    /* about */
    --about_binder_spacing: 25px;
    --about_binder_padding: 20px 10px;
    --about_card_spacing: 5px;
    --about_card_padding: 10px 0 15px 0;
}


/* Text styling */
h1          {font-size: 0;}
h1 a        {font-size: 0;}
h1 a img    {height: 2.5rem;}
h2          {font-size: 1rem;       color: white;}
h2 a        {font-size: 1rem;       color: rgb(255, 255, 255);      font-weight: 500;}
h3          {font-size: 1.4rem;     color: rgb(255, 255, 255);}
h4          {font-size: 1rem;       color: rgb(160, 160, 160);}
a           {font-size: 0;                                                                  text-decoration: none;}
p           {font-size: 0.9rem;     color: rgb(120, 125, 133);      font-weight: 600;}
form h2     {font-size: 2rem;}
form h3     {font-size: 1rem;}
form h3 a   {font-size: 1rem;       color: rgba(255, 255, 255, 1);  font-weight: 400;     text-decoration: none;}
label       {font-size: 1rem;       color: rgba(255, 255, 255, 1);font-weight: 400;}

/* Bakgrunds färg */
body                                {background-color: rgb(14, 18, 30);}
header                              {background-color: rgb(19, 30, 48);}
#burger div                         {background-color: white;}
nav                                 {background-color: rgb(19, 30, 48);}
.game                               {background-color: rgba(255, 255, 255, 0);}
button                              {background-color: #1d2f4b;}
iframe                              {background-color: black;}
#account-inner-wrapper > *          {background-color: rgb(28, 33, 47);}
input                               {background-color: rgb(27, 33, 49);}

/* Färg */
button                              {color: white;}
input                               {color: white;}
input::placeholder                  {color: rgba(174, 193, 249, 0.396);}

/* Border styling */
.game                               {border: 0}
iframe                              {border: none}
hr                                  {border: 1px solid rgb(36, 39, 43);}
button                              {border: none;}
input                               {border: none;}

/* Border radius */
#burger div                         {border-radius: calc(var(--burger_line_width) / 2);}
#nav-links                          {border-radius: 0 0 5px 0;}
.game                               {border-radius: 15px;}
.game img                           {border-radius: 15px;}
#account-inner-wrapper > *          {border-radius: 10px;}
#account-pfp                        {border-radius: 10px;}
button                              {border-radius: 8px;}
input                               {border-radius: 8px;}
.about-card                         {border-radius: 10px;}



/* återanvända element */
button{
    font-size: 1rem;
    padding: 10px;
    cursor: pointer;
}
hr{
    width: 100%;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
form > *{
    width: 100%;
    text-align: center;
}
input{
    height: var(--form_login_register_input_height);

    text-align: center;
    outline: 0;
}


/* WRAPPER */
#flex-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    padding-top: var(--header_height);
}


/* HEADER */
header{
    position: fixed;
    top: 0;

    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: var(--header_height);

    padding: 0 calc(var(--header_height) / 2 - var(--header_icon_height) / 2);
}
h1{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
h1 > a > img{
    height: var(--logo_height);
}
header > a > img{
    height: var(--header_icon_height);
}
header 



/* FOOTER */
footer{
    display: flex;
    flex-direction: column;

    gap: var(--footer_spacing);

    width: 100%;
    height: var(--footer_height);
}
hr{
    width: 100%;
}



/* BURGER */
#burger {
    width: var(--burger_size);
    cursor: pointer;
}
#burger div {
    height: var(--burger_line_width);

    transition: all 0.25s;
}
#burger > *:not(:last-child){margin-bottom: var(--burger_line_spacing);}
nav{
    transform: scaleY(0); 
}
#nav-links{
    position: fixed;
    left: 0;
    top: var(--header_height);

    display: flex;
    flex-direction: column;
    gap: var(--nav_spacing);
    padding: var(--nav_padding);

    min-width: var(--nav_min_width);

    overflow: hidden;

    transform-origin: top;
    transition: all 0.25s;
}
.burger-toggle > div:nth-child(1) {transform: translateY(calc(var(--burger_line_spacing) + var(--burger_line_width))) rotate(-45deg);}
.burger-toggle > div:nth-child(2) {transform: rotate(45deg);}
.burger-toggle > div:nth-child(3) {transform: translateY(calc(-1*var(--burger_line_spacing) - var(--burger_line_width))) rotate(45deg);}
.nav-active{transform: scaleY(1);}



/* GAME.html */
iframe{
    aspect-ratio: 16 / 9;
    width: 100%;
}
#game_info{
    display: flex;
    flex-direction: column;
    width: 100%;
}



/* BINDER */
#binder{
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: var(--game_spacing);
    padding: var(--binder_padding);
}
#binder * {
    width: 100%;
}
.game{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.game > *:not(:last-child){
    margin-bottom: 5px;
}
.game > img{
    aspect-ratio: 16 / 11;
    width: 100%;

    object-fit: cover;
}



/* LOGIN/REGISTER */
.form-login-register {
    padding: var(--form_login_register_padding);
    gap: var(--form_login_register_spacing);

    width: var(--form_login_register_width);
}
.password-container{
    position: relative;

    display: flex;
    align-items: center;
}
.password-container input{
    width: 100%;
}
.eye{
    position: absolute;
    right: 0;
    transform: translateX(-75%);
    cursor: pointer;
    
    max-height: 100%;
    height: 1rem;
}


/* ACCOUNT */
#account-banner{
    width: 100%;
    height: 200px;

    object-fit: cover;
}
#account-overview{
    position: relative;
    top: calc(0px - var(--profile_picture_size) / 2.75);

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}
#account-overview-info{
    position: relative;
    left: var(--profile_picture_left);

    display: grid;
    grid-template-columns: var(--profile_picture_size) 1fr;
    grid-template-rows: calc(var(--profile_picture_size) * 5.5 / 15) calc(var(--profile_picture_size) * 5 / 15) calc(var(--profile_picture_size) * 4.5 / 15);
    grid-template-areas: 
    "pr .."
    "pr na"
    "pr in";

    width: 100%;
}
#account-pfp{grid-area: pr;}
#account-name{grid-area: na;}
#account-things{grid-area: in;}
#account-overview-info > *{width: 100%;}
#account-overview-info > *:not(:first-child){padding-left: var(--profile_name_left);}

#account-inner-wrapper{
    display: flex;
    flex-direction: column;

    gap: var(--profile_inner_wrapper_gap);

    width: 100%;
    padding: var(--profile_inner_wrapper_padding);
}
#account-inner-wrapper > *{
    padding: var(--profile_inner_wrapper_children_padding);
    height: 300px;
}


/* ABOUT */
#about-binder{
    display: flex;
    flex-direction: column;

    width: 100%;
    gap: var(--about_binder_spacing);

    padding: var(--about_binder_padding);
}
.about-card{
    display: flex;
    flex-direction: column;

    gap: var(--about_card_spacing);

    padding: var(--about_card_padding);

    text-align: center;
}

@media only screen and (min-width: 700px){
    :root{
        --nav_spacing: 10px;

        --profile_picture_size: 120px;

        --game_width: 250px;
        --game_spacing: 15px;
        --games_per_row: 4;
        --binder_width: calc(var(--game_width) * var(--games_per_row) + var(--game_spacing) * calc(var(--games_per_row) - 1));
    }


    /* HEADER */
    #nav-links{
        flex-direction: row;
        position: static;
        transform: scaleY(1);
        transition: none;
    }
    #burger{
        display: none;
    }


    /* INDEX */
    #binder{
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;

        max-width: var(--binder_width);
    }
    .game{
        width: var(--game_width);
    }
    #load-more{
        width: 100%;
    }


    /* GAME.html */
    iframe{
        width: auto;
        height: 80vh;
    }
    

    /* ACCOUNT */
    #account-banner{
        height: 400px;
    }
    #account-overview{
        top: calc(0px - var(--profile_picture_size) / 2.5);

        max-width: 100%;
        width: 1200px;
    }
    #account-overview-info{
        grid-template-rows: calc(var(--profile_picture_size) * 7.5 / 15) calc(var(--profile_picture_size) * 4.5 / 15) calc(var(--profile_picture_size) * 3 / 15);
    }

    #account-inner-wrapper{
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 4fr 3fr;
        grid-template-areas:
        "st li"
        "ac li";

        height: 700px;
    }
    #account-stats{grid-area: st;}
    #account-liked{grid-area: li;}
    #account-activity{grid-area: ac;}
}