@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}
:root{
    --header_height: 70px;
    --header_icon_height: 25px;

    --burger_size: 25px;
    --burger_line_width: 3px;
    --burger_line_spacing: calc(var(--burger_size)/2 - var(--burger_line_width) * 1.5);

    --iframe_width: 100vw;

    --profile_picture_size: 80px;
    --profile_picture_radius: 100px;
    --profile_banner_width: 100%;
    --profile_overview_banner: 250px;
    --profile_banner_height: calc(var(--profile_overview_banner) - var(--profile_picture_size) / 2);
    --profile_overview_width: 1100px;
}
h1{font-size: 1.45rem; color: white;}
h1 a{font-size: 1.45rem; color: white;}
h2{font-size: 1rem; color: white;}
h2 a{font-size: 1rem; color: rgb(255, 255, 255); font-weight: 500;}
h3{font-size: 1.4rem; color: rgb(255, 255, 255);}
h4{font-size: 1rem; color: rgb(160, 160, 160);}
a{font-size: 0rem; color: white; text-decoration: none;}
p{font-size: 0.9rem; color: rgb(255, 255, 255); font-weight: 400;}

body{background-color: rgb(14, 18, 30);}
header{background-color: rgb(19, 30, 48);}
nav{background-color: rgb(19, 30, 48);}
.game{background-color: rgba(255, 255, 255, 0.02);}
button{background-color: #1d2f4b;}
iframe{background-color: black;}
#account-grid-wrapper > *{background-color: rgb(28, 33, 47);}

/* Set a style for all buttons */
button {
    color: white;
    border: none;
}
button:hover {
    cursor: pointer;
    opacity: 0.8;
}

hr{
    border: 1px solid rgba(255, 255, 255, 0.1);
}



#flex-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    margin-top: var(--header_height);
}

header{
    position: fixed;
    top: 0;

    z-index: 1;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: var(--header_height);
}
h1{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
header > a > img{
    height: var(--header_icon_height);
}
#burger {
    width: var(--burger_size);
    height: var(--burger_size);
    cursor: pointer;
}
#burger div {
    height: var(--burger_line_width);
    margin-bottom: var(--burger_line_spacing);

    border-radius: calc(var(--burger_line_width) / 2);

    background-color: white;

    transition: all 0.25s;
}
nav{
    transform: scaleY(0); 
}
#nav-links{
    position: fixed;
    top: var(--header_height);
    overflow: hidden;
    transform-origin: top;
    transition: all 0.25s;
}

/* när burger är aktiv */
.burger-toggle #line_1 {transform: translate(0, calc(var(--burger_line_spacing) + var(--burger_line_width))) rotate(-45deg);}
.burger-toggle #line_2 {transform: rotate(45deg);}
.burger-toggle #line_3 {transform: translate(0, calc(-1*var(--burger_line_spacing) - var(--burger_line_width))) rotate(45deg);}
.nav-active{transform: scaleY(1);}

footer{
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 200px;
}

footer p{
    color: rgba(255, 255, 255, 0.386);
}

iframe{
    aspect-ratio: 16 / 9;
    height: 80vh;

    border: none;
}

#game_info{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#binder{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}
.game > img{
    aspect-ratio: 16 / 11;
    width: 100%;

    object-fit: cover;
}

.form-login-register{
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 100%;
    width: 500px;
}
.form-login-register > *{
    width: 100%;
    text-align: center;
}
input[type=text], input[type=password] {
    text-align: left;
    width: 100%;
    outline: 0;
    border: 0;
    background-color: rgb(27, 33, 49);
    color: white;
}
input::placeholder{
    color: rgba(174, 193, 249, 0.396);
}

.password-container{
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
}
.eye{
    position: absolute;
    right: 0;
    cursor: pointer;
    color: lightgray;
    height: 1rem;
}

@media only screen and (min-width: 700px){
    :root{
        --profile_picture_size: 120px;

        --game_width: 300px;
        --games_per_row: 4;
        --binder_width: calc(var(--game_width) * var(--games_per_row));
    }
    header{
        display: flex;
        justify-content:space-between;
    }
    #nav-links{
        position: static;
        display: flex;
        flex-direction: row;
        transform: scaleY(1);
        transition: none;
    }
    #burger{
        display: none;
    }

    #binder{
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;

        max-width: var(--binder_width);
    }
    .game{
        width: var(--game_width);
    }
    #load-more{
        width: 100%;
    }
    
    #account-banner{
        width: 100%;
        height: 400px;

        object-fit: cover;
    }
    #account-overview{
        position: relative;
        top: calc(0px - var(--profile_picture_size) / 2.5);

        display: flex;
        flex-direction: column;
        align-items: center;

        max-width: 100%;
        width: 1200px;
    }
    #account-overview-info{
        display: grid;
        grid-template-columns: var(--profile_picture_size) 1fr;
        grid-template-rows: calc(var(--profile_picture_size) * 7.5 / 15) calc(var(--profile_picture_size) * 4.5 / 15) calc(var(--profile_picture_size) * 3 / 15);
        grid-template-areas: 
        "pr .."
        "pr na"
        "pr in";

        width: 100%;
    }
    #account-pfp{grid-area: pr;}
    #account-name{grid-area: na;}
    #account-things{grid-area: in;}
    #account-overview-info > *{width: 100%;}

    #account-grid-wrapper{
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 4fr 3fr;
        grid-template-areas:
        "st li"
        "ac li";

        width: 100%;
        height: 700px;
    }
    #account-stats{grid-area: st;}
    #account-liked{grid-area: li;}
    #account-activity{grid-area: ac;}
}